	@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';
	@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css';
	
	/* Hide unnecessary page elements */
    #suiteBarLeft,  /*Suite Bar Left (SharePoint text and links) */
    #ms-help,  /* Help icon  */
    #fullscreenmodebox,  /* Focus on Content icon */
    /* #siteIcon, // Image set as SharePoint site logo in Settings */
    #pageTitle, /* Page title */
    #sideNavBox .ms-webpart-zone > div + div, /* Any web part after post category nav */
    .ms-core-listMenu-verticalBox ul.static .ms-blog-quickLinksTitle, /* Categories header in Blog category nav */
    .ms-core-listMenu-verticalBox ul.static + ul.static, /* 'Add a Category' option in Blog category nav */
    .ms-blog-commandSpace li:last-child /* Edit blog post link */ {
        display: none;
    }
    #RibbonContainer-TabRowRight /* Share, Follow, Edit links */ {
        display: none !important; /* !important needed to override SharePoint inline style */
    }
    
    /* Mizuho Branding Body background Color
	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
    body.ms-backgroundImage {
        background: #eaedf0;
    }
    .o365cs-base.o365cs-topnavBGColor-2, .o365cs-base .o365cs-topnavLinkBackground-2 {
		background-color: #202088 !important;
	}
	/* Office 365 Apps icon | Office 365 text | SharePoint Test Hidden */
	/*.o365cs-nav-leftAlign,*/
	/*.ms-cui-topBar2,  Hide Browse and Page link */
    /*#globalNavBox, Hide Global Nav bar */
	#O365_MainLink_Help,/* office 365 main link */
	#O365_Notifications_ButtonID { 	 /* office 365 Notifications link */
		display:none !important;
	}
	.o365cs-me-tileview-container .o365cs-me-tileimg {
		border-radius:50%;	
		left:3px !important;
	}
	.o365cs-me-tileview-container .o365cs-me-presence5x50 {
		display: none !important;
	}
	/* Default Picture */
	.o365cs-me-tileview-container .o365cs-me-tileimg-doughboy {
	    width: 49px;
    	height: 49px;
    	padding: 0;
    }
	.o365cs-me-tileview-container .o365cs-me-personaimg {
		border-radius:50%;		
	}
	/* top Branding color - Mizuho */
	#suiteBarTop, .o365cs-nav-header16 {
		height: 70px !important;
	}
    
    /* office 365 right menu */
    .o365cs-nav-rightMenus {
	    margin-top: 9px;
	    display: block !important;
	    float: right;
	    margin-right: 15px;
	}	
	/* Office 365 right  menu hover  style */
	body .ms-bgColor-themeDarker, body .ms-bgc-tdr, body .ms-bgColor-themeDarker-hover:hover, body .ms-bgc-tdr-h:hover, body .ms-bgColor-themeDarker-focus:focus, body .ms-bgc-tdr-f:focus {
	    background-color: rgba(0,0,0,0.2) !important;
	}
	/* office 365 right menu border -left hide */
	.o365cs-nav-rightAlign .o365cs-nav-button, .o365cs-nav-rightAlign .o365cs-nav-button .o365cs-me-tile-nophoto {
		border-left:none !important;
	}

	/* Office 365 right menu - Focus Color */
	.o365cs-nav-rightMenus button:hover {
		background-color:#1a1a6c;
	}
	.o365cs-nav-rightMenus button.ms-bgc-w, .o365cs-nav-contextMenu .ms-bgc-w {
		background-color:transparent;
	}
	/*
	OFFICE 365 PROFILE HOVER MENU STYLE 
	----------------------------------------*/
	/* Office 365 hover menu design */
	.o365cs-nav-contextMenu {
	  	margin-top: 5px;
    	margin-left: 15px;
    	border-left: 1px solid rgba(51, 51, 51, 1)!important;
   		border-right: 1px solid rgba(51, 51, 51, 1)!important;
    	border-bottom: 1px solid rgba(51, 51, 51, 1)!important;
    	background-color:rgba(51, 51, 51, 1) !important;
	}
	/* Personal Details Screen */
	.o365cs-me-personaDetails > span.o365cs-me-userDisplayName {
		font-family: 'Lato-Bold', 'Lato Bold', 'Lato' !important;
	    font-weight: 700;
	    font-style: normal;
	    color: #FFFFFF;
	    font-size: 14px !important;
	}
	.o365cs-me-personaDetails > span.o365cs-me-userEmail{
		font-family: 'Lato-Regular', 'Lato'!important;
	    font-weight: 400;
	    font-style: normal;
	    font-size: 12px !important;
	    color: #CCCCCC;
	}
	.o365cs-nav-contextMenu .o365cs-me-presence6x64{
		display:none !important;
	}
	.o365cs-nav-contextMenu .o365cs-me-cardimg-doughboy{
		padding:0;
		height:64px;
		width:64px;
		border-radius:50% !important;
	}
	.o365cs-nav-contextMenu .o365cs-me-cardimg {
		left: 0;
		border-radius:50% !important;
	}
	.o365cs-nav-contextMenu .o365cs-contextMenuItem {
	 	font-family: 'Lato-Regular', 'Lato' !important;
	    font-weight: 400 !important;
	    font-style: normal !important;
	    color: #FFFFFF;
	    text-align: left !important;
	    font-size: 13px !important;
	    /*-moz-box-shadow: 0px 1px 0px rgba(153, 153, 153, 0.349019607843137);
	    -webkit-box-shadow: 0px 1px 0px rgba(153, 153, 153, 0.349019607843137);
	    box-shadow: 0px 1px 0px rgba(153, 153, 153, 0.349019607843137) !important;	*/
	 }
	 .o365cs-nav-contextMenu .o365cs-contextMenuItem:hover, .o365cs-nav-contextMenu .o365cs-contextMenuItem:focus, .o365cs-nav-contextMenu .o365cs-contextMenuItem:active {
		background-color:rgba(87, 87, 87, 1) !important;
		color:#fff !important;
	}
	 .o365cs-nav-contextMenu .o365cs-contextMenuSeparator{
	    border-color: rgba(87, 87, 87, 1);
	}
	        
	/*body .ms-bgColor-white, body .ms-bgc-w, body .ms-bgColor-white-hover:hover, body .ms-bgc-w-h:hover, body .ms-bgColor-white-focus:focus, body .ms-bgc-w-f:focus*/
	/* Added Mizuho Logo */
	/*.o365cs-nav-leftAlign {
		background-image:url('/Style%20Library/Mizuho.Branding/Images/mizuho-1.png');
		background-repeat:no-repeat;
	    display: inline-block !important;
	    width: 148px;
	    height: 49px;
	    background-size: 90%;
	    text-indent: -10000px;
	    padding: 15px 8px 14px;
	    top: 0;
	    position: absolute;
	    margin-top: 12px;
	    margin-left: 12px;
	}*/
	.o365cs-nav-leftAlign > div {
		display:none !important;
	}
	
	/* PAGE MENU DESIGN 
	--------------------------------------------*/
	/* For Seattle Master page */
	/* Visible for Siteicon and Breadcrumb and Page Title */
	#titlerow, #titleAreaBox, #titleAreaRow {
		display: block !important;
	}
	#titleAreaBox #titleAreaRow > div {
		display:block !important;	
	}
	#s4-titlerow {	 
		padding-bottom:0px !important; 
		padding-top:0px !important; 
		height:auto !important;
	}
	#titleAreaBox {
		margin-left:0px;
		margin-right:0px;
	}
	#titleAreaBox .ms-breadcrumb-top {
		background:#fff; 
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
		padding-left:20px;
		padding-right:20px;
	}
	#titleAreaRow .ms-breadcrumb-box .ms-core-pageTitle {
		display:block
	}
	#titleAreaRow .ms-breadcrumb-box .ms-core-pageTitle {
		margin-left: 40px;
		margin-top: 25px;
		font-size: 14pt;
		margin-right:40px;
	}
	/* #titleAreaBox #titleAreaRow > div:first-child {
		display:none !important;
	} */

	/* DYNAMIC CHANGE THE SITE LOGO
	------------------------------------- */
	#siteIcon {
		height: inherit !important;
	}
	#siteIcon #DeltaSiteLogo {
		position: fixed;
		display: inline-block !important;
	    width: 150px;
	    height: 50px;
	    padding: 15px 8px 14px;
	    top: 0;
	    margin-left: 12px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	#siteIcon #DeltaSiteLogo .ms-siteicon-img {
		width: 100% !important;
	}

	/* DYNAMIC HIDE REMOVED - TITLE, MENU and LOGO 
	------------------------------------- */
	#s4-titlerow {
		display: block !important;
	}

	/* POPUP HEADER REMOVE 
	------------------------------------- */
	.ms-dialog #s4-titlerow, .ms-dlgContent .ms-dlgFrameContainer .ms-dialogHidden.s4-titlerowhidetitle {
		display: none !important;
	}
	/* BREADCRUMB BOX DESIGN 
	------------------------------------- */
	#titleAreaBox #titleAreaRow .ms-breadcrumb-box{
		padding-top:0px !important;	
		height: inherit;
	    padding-bottom: 0px !important;	
	}
	#titleAreaBox #titleAreaRow .ms-breadcrumb-box li.static > a {
		padding: 16px 20px;
	    margin-right: 0px;
	    text-transform: uppercase;
	    font-weight: 600;
	    font-size: 14px;
		/* for Responsive */
		float: left;	
	}
	#titleAreaBox #titleAreaRow .ms-breadcrumb-box li.static.ms-listMenu-editLink{
		display:none !important;
	}
	#titleAreaBox #titleAreaRow .ms-breadcrumb-box li.static.selected > a {
		background: #ebf0ff !important;
	}
	#titleAreaBox #titleAreaRow .ms-breadcrumb-box li.static.selected > a span  {
		color:#211f8a !important;

	}
	.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:visited, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected, .ms-tv-selected:link {
		color:#211f8a !important;
	}
	.ms-core-listMenu-horizontalBox a.ms-core-listMenu-item:hover, .ms-core-listMenu-horizontalBox a.ms-core-listMenu-selected.ms-core-listMenu-item:hover, a.ms-tv-item:hover, a.ms-tv-header:hover {
		color:#211f8a;
	}
	.ms-core-header .ms-core-listMenu-horizontalBox a.ms-core-listMenu-item:hover {
		background: #ebf0fe !important;
	}
	#titleAreaBox #titleAreaRow > div:last-child {
		display:inline !important;
	}

	/* Menu Responsive Design
	--------------------------------------------*/
	.ms-core-listMenu-horizontalBox ul, .ms-core-listMenu-horizontalBox li, .ms-core-listMenu-horizontalBox .ms-core-listMenu-item, .ms-core-listMenu-horizontalBox > ul > li > table {
		display: inline;
	}
	
	/* SEARCH BAR DESIGN
	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
	#DeltaPlaceHolderSearchArea {
		position: fixed;
	    top: 16px;
	    right: 250px;
	}
	.ms-belltown-authenticated .ms-belltown-searcharea{
		padding-top: 0;
	}
	.ms-core-header .ms-srch-sb {
		background:#1a1a6c !important;
		border-color:#1a1a6c !important;
		position: relative;
	}
	.ms-srch-sb>input {
	    height: 35px;
	    width: 250px;
	    padding-left: 29px;
	    box-sizing: border-box;
	    color: #7979b7 !important;
	    font-size: 14px;
	} 
	.ms-srch-sb>input:focus {
		color:#fff !important;
	}
	.ms-srch-sb>input::placeholder  {
		color:#f5f5f5;
	}
	.ms-srch-sb > .ms-srch-sb-navLink {
	    height: 20px;
	    width: 20px;
	    position: absolute;
	    right: 10px;
	    top: 8px;
	}	
	.ms-srch-sb > .ms-srch-sb-searchLink {
	    margin-left: 3px;
	    height: 20px;
	    width: 20px;
	    position: absolute;
	    left: 5px;
	    top: 8px;
	}

	/* RIBBON & SUITE BAR
	-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
	/* Reduce height of area to minimum required */
	#suiteBar {
		height: auto;
	}
	 
	/* Ribbon background and border */
	.ms-cui-topBar2 {
		background: #2f2fa5;
		/* border-bottom: 1px solid #666;*/
	} 
	.ms-cui-topBar2,
	.ms-cui-topBar2.ms-browseTabContainer {
		border-bottom: 1px solid #202088;
	} 
	.ms-browseTab.ms-cui-tt-s > .ms-cui-tt-a > .ms-cui-tt-span, .ms-cui-tt-a > .ms-cui-tt-span {
		color:#eaedf0 !important;
	}
	 
	/* Move Suite Bar Right (Sign In/Welcome/Site Actions) back to right side after hiding Suite Bar Left */
	#suiteBarRight {
		position: absolute; 
		right: 10px;
		background: transparent;  
		top: 3px;
		z-index: 2;
	}
	    
	/* Root Home Page Footer Design 
	--------------------------------------------------*/
	#DeltaPlaceHolderFooter{
		float: left;
		width: 100%;
	    /* position: absolute;
	    bottom: 0; */
	    z-index: 2;
	    font-family: 'Lato', sans-serif;
	}
	.mizuho-footer {
		float: left;
		width: 100%;
		padding: 10px 0px;
		background: #202088;
		color: #fff;
		font-family: 'Lato', sans-serif;
	}
    .mizuho-footer .contentwrapper {
	    margin-top: 0;
	    margin-bottom: 0;
	}
    .mizuho-footer .all-addresses {
        display: table;
        margin: 0 auto;
    }
    .mizuho-footer .sep-address {
        display: table-cell;
        padding: 15px;
        vertical-align:top;
        min-width: 170px;
    }
	.mizuho-footer .sep-address:first-child {
		vertical-align:middle;
		text-align:center;
		min-width: 80px;
	}
    .mizuho-footer .sep-address h5 {
		font-size: 12pt;
    	text-transform: capitalize;
    	font-weight:400;
    	opacity:0.6;
	}
	.mizuho-footer .sep-address p {
		font-size: 10pt;
		font-weight:300;
		opacity:0.6;
		margin-top: 5px;
    	margin-bottom: 0px;	
	}  
    .mizuho-footer .sep-address a {
        float: left;
        color: #fff;
        font-weight: normal;
        font-size: 9pt;
        text-decoration: none;
        transition-duration: .3s;
        color:rgba(255, 255, 255, 0.749019607843137);
    }
    .mizuho-footer .sep-address a i {
        float: left;
        width: 100%;
        font-size: 20px;
        margin-bottom: 5px;
        color:rgba(255, 255, 255, 0.749019607843137);
    }
    /* Subsite Home Page Footer Design 
	 --------------------------------------------------*/
	.mizuho-subsite-footer-top {
        position: relative;
		text-align: center;
        border-bottom: 1px solid #353390;
    }
    .mizuho-subsite-footer-top ul {
        padding-left: 0px;
        overflow: hidden;
        margin-top:0;
    }
    .mizuho-subsite-footer-top li {
        list-style: none;
        position: relative;
        margin-right: 6px;
        float: none;
		display: inline-block;
        overflow: hidden;
    }
    .mizuho-subsite-footer-top li a {
        float: left;
        min-width: 205px;
        font-size: 10px;
        position: relative;
        display: table;
        color: #fff;
        padding: 8px;
        height: 45px;
        vertical-align: middle;
        box-sizing: border-box;
        text-decoration: none;
		width: 120px;
    }
    .mizuho-subsite-footer-top li a:hover {
        background-color: #1a1a6c !important;
    }
    .mizuho-subsite-footer-top li a img {
        width: 27px;
        display: table-cell;
        vertical-align: middle;
    }
    .mizuho-subsite-footer-top li:first-child a img {
        width: 34px;
    }
    .mizuho-subsite-footer-top li:nth-child(7) a img {
        width: 34px;
    }
    .mizuho-subsite-footer-top li a p {
        display: table-cell;
        width: 100%;
        vertical-align: middle;
        font-size: 10pt;
        padding-left: 10px;
        font-weight: 500;
		text-align:left;
    }
    
    /* Set Minimum height to content part 
    ------------------------------------------ */
    #s4-workspace #contentBox {
	    min-height: 500px;
	    display: block;
	}
	#ms-belltown-table{
		padding-bottom:0;
	}


	 /* Background Color SET To - #s4-workspace 
    ------------------------------------------ */
	#s4-workspace { background-color: #eaedf0 !important; }

	/* Subsite Sidebar Navigations
    ------------------------------------------ */
    /* Master Page Hide Sidebar Navigation  
    #sideNavBox { display:none !important; } */
	/* for main site 
    #contentBox { margin-left:20px; margin-right:20px; }*/
    #SearchBox .ms-srch-sb-border{
    	border: 0px;
    	background: #1a1a6c;
	}
    #SearchBox .ms-srch-sb-border input:focus, #SearchBox .ms-srch-sb-border input:active, #SearchBox .ms-srch-sb-borderFocused{
    	border: 0px;
    	background: #1a1a6c;
    }
    #contentRow { margin-left:20px; margin-right:20px; }

	/* Font Include
    ------------------------------------------ */
	.ms-core-navigation {
		font-family: "Lato", sans-serif;
		font-weight:400;
	}
	body, .ms-core-defaultFont, #pageStatusBar, .ms-status-msg, .js-callout-body {
		font-family: "Lato", sans-serif;
	}
	h4, h5, h6, .ms-h4, .ms-h5, .ms-h6 {
		font-family: "Lato", sans-serif;
	}
	.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-item, .ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenuEdit, .ms-core-listMenu-heading, .ms-tv-header {
		font-family: "Lato", sans-serif;
	}
	.ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a {
		font-family: "Lato", sans-serif;
	}

	/* Mizuho Font Guidence
	------------------------------------------ */
	/*nav - lato regular / All Caps / 12pt
	nav dropdown - lato regular  / 14pt
	Left nav - lato regular  13pt
	Left nav sub - lato light 13pt
	widget header - lato Light / 14pt
	footer - Lato Regular / 12pt
	lato light / 10pt
	links Lato Regular / 12pt */
	#sideNavBox ul.ms-core-listMenu-verticalBox .ms-core-listMenu-root {
	padding-top:0px;
	padding-bottom:0px;
	}

	/* WEBPART ZONE AND WEBPART STYLES fo Content Box
	------------------------------------------ */
	#contentBox {
		margin-left: 290px;
	}
	#contentBox .ms-rte-layoutszone-outer .ms-webpartzone-cell {
	}
	#contentBox .ms-rte-layoutszone-outer .ms-webpartzone-cell .ms-wpContentDivSpace {
		padding:15px;
		box-sizing:border-box;
		background: #fff;
		box-shadow: 0px 2px 2px 0px #ccc;
		border-top:2px solid #365d9f;
	}
	#contentBox .ms-rte-layoutszone-outer .ms-webpartzone-cell .ms-webpart-chrome-title{
		margin-bottom:-4px;
	}
	#contentBox .ms-rte-layoutszone-outer .ms-webpartzone-cell .ms-webpart-chrome-title h2.ms-webpart-titleText {
		background: #365d9f;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		text-transform: uppercase;
		font-size: 12pt;
		font-weight: 300;
		padding:5px 8px;
		float:left;
	}
	#contentBox .ms-rte-layoutszone-outer .ms-webpartzone-cell .ms-webpart-chrome-title h2.ms-webpart-titleText a {
		text-decoration: none;
		color: #fff;
	}

	/* POPUP ISSUE FIXED 
	------------------------------------- */
	.ms-dialog #contentBox {
		margin-left: 0px;
	}
	.ms-dialog #s4-workspace #contentBox {
	    min-height:inherit;
	    display: block;
	}

	/* SIDEBAR LINKS DESIGN - for SUBSITE
	------------------------------------------ */
	#sideNavBox {
		width: 250px;
	}
	/* Side navigation ul */
	.ms-core-listMenu-verticalBox .ms-core-listMenu-root{
		background: #365d9f;
		border-radius: 5px;
	}
	.ms-core-listMenu-verticalBox .ms-core-listMenu-root a{
		color: #fff;
		text-transform: capitalize
	}
	#sideNavBox .ms-core-listMenu-verticalBox > .ms-core-listMenu-item,#sideNavBox  .ms-core-listMenu-verticalBox li.static > .ms-core-listMenu-item {
		padding-top:12px;
		padding-bottom:12px;
	}
	.ms-core-listMenu-verticalBox .ms-core-listMenu-root .selected a.selected{
		background: #375ca1;
	}
	#sideNavBox ul.ms-core-listMenu-root.static li ul {
        background: #2c4a81;
    }
	#sideNavBox .ms-core-listMenu-verticalBox .ms-core-listMenu-root a:hover, #sideNavBox .ms-core-listMenu-verticalBox .ms-core-listMenu-root a:focus,#sideNavBox .ms-core-listMenu-verticalBox .ms-core-listMenu-root a:active{
		background: rgba(44,65,96,1) !important;
	}
	
	/* Arun Added */
	#sideNavBox .ms-navedit-editLinksText > span > .ms-metadata, #sideNavBox .ms-core-listMenuEdit > tr > .ms-navedit-linkCell > .ms-core-listMenu-item{
    	color: #fff;
	}
	#sideNavBox ul, #sideNavBox li{
		float: left; width: 100%;
	}
	/* Edit Link hidden on the left side navigation */
	#sideNavBox .ms-core-listMenu-verticalBox .ms-listMenu-editLink{
		display: none; 
		margin-left: 0px;
		padding-left: 20px;
	}
	#sideNavBox .ms-core-listMenu-verticalBox .ms-listMenu-editLink .ms-navedit-editSpan, #sideNavBox .ms-core-listMenu-verticalBox .ms-listMenu-editLink .ms-navedit-editSpan a{
		float: left; width: 100%;
	}
	#sideNavBox .ms-core-listMenu-verticalBox .ms-listMenu-editLink .ms-navedit-editSpan a {
		padding: 5px 0px;
	}
	#contentBox .ms-rte-layoutszone-outer .ms-qcb-button{
		padding: 3px 9px;
	}
	/* Arun Added */
	/* Site Settings Page style
	------------------------------------*/
	#ctl00_PlaceHolderMain_SettingLinksV4{
		width: 100%;
	}
	#sideNavBox .ms-core-sideNavBox-removeLeftMargin{
		margin-left: 0px;
	}
	.ms-linksection-columnBox table{
		width: 100%;
	}
	.ms-linksection-columnBox{
		padding: 0px 0px 0px 20px;
	}
	.ms-linksection-textCell h3{
		float: left;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background: #365d9f;
		margin: 0px;
		padding: 3px 10px;
		text-transform: uppercase;
		color: #fff;
		font-size: 13px;
		font-weight: bold;
	}
	.ms-linksection-textCell ul{
		float: left;
		width: 100%;
		background: #fff;
		border-top: 2px solid #365d9f;
		box-shadow: 0px 2px 2px 0px #ccc;
		padding: 15px;
		box-sizing: border-box;
	}
	

	#authWrapper #s4-ribbonrow, #authWrapper #s4-ribbonrow #globalNavBox{
		height: auto !important;
	}
	#s4-workspace{ 
		z-index: 101;  /* For the dropdown in top search bar */
	}
	body .ms-fcl-b{
		color: #fff !important;
	}
	body .ms-bgc-nl{
		background-color: #575757 !important;
	}
	.o365cs-nav-contextMenu .o365cs-labelledContextMenuSeparator{
		padding: 10px 16px !important;
	}

	/* For Widget Border Ends */
	#layoutsTable > tbody > tr:first-child{
		display: none;
	}
	.ms-microfeed-microblogpart, .ms-microfeed-feedPart{
		overflow: hidden;
	}

	/* Search Box */	
	#SearchBox .ms-srch-sb-border{
		border: 0px;
		background: #1a1a6c;
	}
	#SearchBox .ms-srch-sb-border input:focus, #SearchBox .ms-srch-sb-border input:active, #SearchBox .ms-srch-sb-borderFocused{
		border: 0px;
		background: #1a1a6c;
	}
	.ms-microfeed-fullMicrofeedDiv{
		margin-right: 0px;
	}
	.ms-rte-layoutszone-inner{
		border: 0px; margin: 0px;
	}
	/* Need clarification form arun */

	/* MIZUHO Navigation style
	--------------------------------------*/
	.mizuho-navigation-style{
		width: 100%;
		background: #a5d4f4;
		padding-left: 130px;
		position: relative;
		margin-bottom: 31px;
		padding-top: 10px;
		padding-bottom: 10px;
		float: left;
		box-sizing: border-box;
		margin-top: 19px;
	}
	.mizuho-navigation-style .pagetitle-tile {
		position: absolute;
		left: 15px;
		width: 100px;
		height: 100px;
		text-align: center;
		font-size: 50px;
		background: #4e97c6;
		color: #fff;
		top: -18px;
		font-family: 'Lato', sans-serif !important;
		line-height: 100px;
	}
	.mizuho-navigation-style h3 {
    	color: #fff;
    	font-size: 14pt;
    	font-weight: 400;
    	padding-bottom: 5px;
		font-family: 'Lato', sans-serif !important;
	    font-weight: 400;
	}
	.mizuho-navigation-style p {
    	margin: 0;
    	color: #fff;
		font-size: 13pt;
		font-family: 'Lato', sans-serif !important;
    	font-weight: 300;
	}

	@media (min-width: 1900px) {
		.mizuho-subsite-footer-top li a{
			min-width: 205px;
		}
		.mizuho-footer .sep-address{
			min-width: 170px;
		}
	}
	@media (max-width: 1899px) {
		.mizuho-subsite-footer-top li a{
			min-width: auto;
		}
		.mizuho-subsite-footer-top ul{
			text-align: center;
			padding: 0px;
		}
		.mizuho-subsite-footer-top ul li{
			float: none;
			display: inline-block;
			margin: 0px 5px;
		}
		.mizuho-footer .sep-address{
			min-width: auto;
		}
	}